@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-dm-sans: var(--font-dm-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--foreground);
  font-family: var(--font-dm-sans), Helvetica, sans-serif;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

body.dark {
  background-color: var(--background);
  color: white;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
  color: #171717;
}

h5 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #171717;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #171717;
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
  color: #171717;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #171717;
}

h1 {
  font-size: 2.25rem;
  font-weight: 800;
  color: #171717;
  letter-spacing: 0;
}
